[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
parse = "*"
isort = "*"
pytest = "*"

[dev-packages]
ruff = "*"

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = true
